h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    display: flex;
    height: 50px;
    gap: 5px;
    justify-content: center;
}

.smallContainer{
    max-width: 33%;
}
.container2 {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
}


.title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.content {
    font-size: 14px;
}


.container > * {
    flex-basis: 100px;
    border: 5px solid gray;
}

Header {
    background-color: #95a5a6;
}

.white {
    background-color: white;}
.blue{background-color: blue;}
.purple{background-color: rebeccapurple;}
.brown{background-color: saddlebrown;}
.black{background-color: black; border: 5px solid red;}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pillar {
    display: flex;
    flex: 10;
    flex-direction: column;
    text-align: center;
    border: none;
    height: auto;
}

.footer {
    height: 60px; /* Set the height of your footer */
}

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
    border: 0 solid;
    box-sizing: border-box;
}
.btn-1 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: gray;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}
.btn-1:disabled {
    cursor: default;
}
.btn-1:-moz-focusring {
    outline: auto;
}
.btn-1 svg {
    display: block;
    vertical-align: middle;
}
.btn-1 [hidden] {
    display: none;
}
.btn-1 {
    border-radius: 99rem;
    border-width: 2px;
    padding: 0.8rem 3rem;
}
.btn-1:hover {
    color: #999;
}
